@import "./var";

#Beer {
    background-image: url("../res/index-card-bg.jpg");
    min-height: 300px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}