@import "./var";

#Beer {
    background-image: url("../res/index-card-bg.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100%;
}