@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');                                    //ROBOTO
@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display&display=swap');                          //DM SERIF DISPLAY
@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Stencil+Display:wght@900&display=swap');    //BIG SHOULDERS STENCIL DISPLAY

$text-font: 'Roboto', Condensed;
$text-font-head: 'DM Serif Display', Serif;
$text-font-mast: 'Big Shoulders Stencil Display', Bold;
$text-font-code: 'Consolas', monospace;
$text-colour: rgb(22, 4, 8);
$a-colour: rgb(70, 37, 37);

$bgc: #fffafb;
$foot: #8c9189;
$primary-color: #eb791c;
$secondary-color: #1b754b;
$scrollbar-color: #808080;