@import './res', './var', './div', "./ids";

body {
    background-color: $bgc;
}

section {
    margin: 3em 0;
}

nav {
    & a:hover {
        text-decoration: underline $primary-color 5px !important;
    }
}

img {
    width: 100%;
    height: auto;
}

h1, h2, h3, h4 {
    font-family: $text-font-head;
    font-weight: 600;
}

article {
    color: $text-colour;
    & p {
        text-indent: .5in;
    }
}

nav {
    & a {
        color: $a-colour;
        &:hover {
            color: $text-colour;
            text-decoration: wavy;
        }
    }
}

input {
    display: block;
    margin: 6px;
}

ul {
    list-style-type: '✓ ';
}

dd {
    text-indent: 2rem;
}

button {
    margin: 6px;
}

footer {
    & > div > div > div {
        margin: 0 !important;
    }
    a:hover {
        text-decoration: none;
    }
}